*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
}

.nav{
    height: 10vh;
    width: 100vw;
    background-color: #3a536ec3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.rhtelem{
    margin-right: 5vw;
    color: #fff;
    margin-top: 1vh;
}

.rht{
    margin-right: 10vw;
}

.logo{
    height: 9vh;
    width: 4vw;
    margin-left: 3vw;
}
.logo img{
    width: 100%;
}
.rht .inputval{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(0, -50%);
    height: 5vh;
    width: 0vw;
    padding-left: 0vw;
    outline: none;
    border-radius: .3vmax;
    border: none;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .4s;
}
.rht:hover .inputval{
    width: 12vw; 
    padding-left: 1vw;
}
input[type=text]:focus{
    width: 12vw !important; 
    padding-left: 1vw !important;  
}

input[type=submit]{
position: absolute;
top: 50%;
left: 93%;
border-radius: .3vmax;
border: none;
/* padding: 1vmin 2vmin; */
height: 4vmin;
width: 0vmin;
background-color: white;
transform: translate(0, -50%);
transition: cubic-bezier(0.19, 1, 0.22, 1) .4s;
}

.rht:hover input[type=submit]{
    width: 9vmin;
}